/Bogdan 12.py
/Bogdan1.py
/Bogdan10.py
/Bogdan11.py
/Bogdan13.py
/Bogdan14.py
/Bogdan15.py
/Bogdan16.py
/Bogdan17.py
/Bogdan18.py
/Bogdan19.py
/Bogdan2.py
/Bogdan20.py
/Bogdan21.py
/Bogdan22.py
/Bogdan23.py
/Bogdan24,py
/Bogdan25.py
/Bogdan26.py
/Bogdan27.py
/Bogdan28.py
/Bogdan29.py
/Bogdan3.py
/Bogdan4.py
/Bogdan5.py
/Bogdan6.py
/Bogdan7.py
/Bogdan8.py
/Bogdan9.py
/cats.txt
/example.txt
/File.py
/File1.py
/File2.py
/File3.py
/File4.py
/Homework1.py
/Homework2.py
/jokes.txt
/main.py
/PythonCore1.py
/raw_data.bin
/README.md
/salary.txt
/Task1.py
/Task10.py
/Task11.py
/Task12.py
/Task13.py
/Task14.py
/Task15.py
/Task16,py
/Task17.py
/Task18.py
/Task19,py
/Task2.py
/Task20,py
/Task21,py
/Task22.py
/Task23.py
/Task24.py
/Task25.py
/Task26.py
/Task27.py
/Task28.py
/Task29.py
/Task3.py
/Task30,py
/Task31.py
/Task32.py
/Task4.1.py
/Task4.py
/Task5.py
/Task6.py
/Task7.py
/Task8.py
/Task9.py
/test.txt
/Test10.py
/Test11.py
/Test12.py
/Test13.py
/Test14.py
/Test15.py
/Test2.py
/Test3.py
/Test4.py
/Test5.py
/Test6.py
/Test7.py
/Test8.py
/Test9.py
/text.txt